---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPreview from "../components/BlogPreview.astro";

const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const pageTitle = "mos.dev";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="intro">
    <h1>Artículos Recientes</h1>
    <p>
      Explorando el ecosistema web, desde los fundamentos hasta arquitecturas
      complejas.
    </p>
  </section>

  <div class="feed">
    {allPosts.map((post) => <BlogPreview post={post} />)}
  </div>
</BaseLayout>

<style>
  .intro {
    margin-bottom: 4rem;
    border-bottom: 4px solid var(--brand-primary); /* Un toque de diseño fuerte arriba */
    padding-bottom: 2rem;
  }

  .intro h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .intro p {
    font-size: 1.25rem;
    color: var(--color-gray-400);
  }

  .feed {
    max-width: 800px; /* Limitamos el ancho del texto para que sea cómodo de leer */
    margin: 0 auto; /* Centrado */
  }
</style>
